.root{
    -fx-background-color: #262626;
    -theme-colour : #d04649;
    -theme-accent : #b52e31
}

.jfx-combo-box {
    -fx-background-color: -theme-colour;
}

.anchor-pane{
    -fx-background-color: #21252B;
}

.jfx-text-area{
    -fx-text-fill: white;
}

.jfx-button{
    -fx-background-radius: 0;
    -fx-background-color: -theme-colour;
    -fx-text-fill: white;
}

.jfx-text-field{
    -fx-text-fill: white;
}

/* TableView Styling */
.table-view{
    -fx-background-color: transparent;
    -fx-table-cell-border-color: black;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #2B2B2B
}
.table-view .filler{
    -fx-background-color: #2B2B2B
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #282c34;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: -theme-colour;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

 .jfx-tab-pane .tab-header-background {
     -fx-background-color: -theme-colour;
 }

 .menu-bar{
     -fx-background-color: -theme-colour;
 }

 .jfx-check-box{
     -fx-text-fill: white;
     -fx-padding: 10, 10, 10, 10;
     -jfx-checked-color: -theme-colour;
 }

 .jfx-radio-button {
    -fx-text-fill: white;
    -fx-padding: 10, 10, 10, 10;
    -jfx-checked-color: -theme-colour;
}

 .jfx-list-view{
     -fx-background-color: #282c34;;
 }

.jfx-list-cell {
    -fx-text-fill: white;
    -fx-background-color: #282c34;
}

.jfx-list-cell:odd{
    -fx-background-color: #2B2B2B;
}


 .jfx-toggle-button{
     -fx-text-fill: white;
     -jfx-toggle-color: -theme-colour;
 }

 .jfx-radio-button{
     -jfx-selected-color: -theme-colour;
     -jfx-unselected-color: -theme-colour;
 }